body {
    font-family: 'Inter';
    
}

header{
    margin: 5em 8em;
}

.firm{
    display: inline-flex;;
    margin-top: -10px;
    

}

.title{
    font-size: 22px;
    color: #143781;
    display: inline;
    vertical-align: top;
    
}

.subtitle{
    color: #1b4cb6;
    display: inline-flex;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 5px;
    font-style: italic;

}

.main{
    display: block;
    width: 1068px;
    margin: 0 auto;
}

.entrada{
    position: absolute;
    left: 0;
    margin-left: 3em;
    font-size: 30px;
    width: 70%;
}

textarea{
    border: none;
    border-radius: 20px;
    outline: #143781; 
    font-family: 'Inter';
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    color: #1b4cb6;
}

textarea::placeholder {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: bold;
    color: #143781;
    padding-top: 10px;
    padding-left: 10px;
}

.costado {
    width: 30%;
    display: inline;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 8em;
    margin-right: 3em;
    text-align: center;
    color: #143781;
}

.costado h2 {
    font-weight: bolder;
    padding: 10px 5px;
}

.warning{
    font-size: 14px;
    color: #132c63;
}

.btns{
    padding: 0.1em;
}

.btn-encrip{
    font-family: 'Inter';
    font-size: 20px;
    color: white;
    padding: 10px 40px;
    background-color: #1e5add;
    border: none;
    border-radius: 20px;
    margin-right: 1em;
    cursor: pointer;
    
}

.btn-encrip:hover{
    transform:scale(1.2);
}

.btn-desencrip{
    font-family: 'Inter';
    font-size: 20px;
    color: #1b4cb6;
    padding: 10px 40px;
    background-color: #d1d9eb;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn-desencrip:hover{
    transform: scale(1.2);
}

.btn-copy{
    font-family: 'Inter';
    font-size: 18px;
    color: white;
    padding: 5px 20px;
    background-color: #1e5add;
    border: none;
    border-radius: 20px;
    margin-right: 1em;
    cursor: pointer;
    margin: 20px 0;
    
}

.btn-copy:hover{
    transform:scale(1.2);
}

@media screen and (max-width: 720px) {
    .costado{
        
        position: absolute;
        width: 100%;
      
        margin-top: 22em;
        font-size: 40px;
        left: 300px;
    }

    .entrada{
        text-align: center;
        width: 100%;
        position: relative;
        margin: 0 auto;
    }

    textarea{
        font-size: 40px;
    }

    textarea::placeholder {
        font-size: 40px;
    
    }

    .btn-encrip{
        font-size: 30px;
    }

    .btn-desencrip{
        font-size: 30px;
    }

    .warning{
        font-size: 20px;
    }
}